@font-face{font-family:"Boska";font-style:normal;font-weight:300;font-display:swap;src:url(boska-300.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:normal;font-weight:400;font-display:swap;src:url(boska-400.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:italic;font-weight:400;font-display:swap;src:url(boska-400-italic.woff2) format("woff2")}
@font-face{font-family:"Switzer";font-style:normal;font-weight:400;font-display:swap;src:url(switzer-400.woff2) format("woff2")}
@font-face{font-family:"Switzer";font-style:normal;font-weight:500;font-display:swap;src:url(switzer-500.woff2) format("woff2")}
@font-face{font-family:"Switzer";font-style:normal;font-weight:600;font-display:swap;src:url(switzer-600.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:italic;font-weight:500;font-display:swap;src:url(boska-500-italic.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:normal;font-weight:700;font-display:swap;src:url(boska-700.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:normal;font-weight:500;font-display:swap;src:url(boska-500.woff2) format("woff2")}
@font-face{font-family:"Boska";font-style:italic;font-weight:700;font-display:swap;src:url(boska-700-italic.woff2) format("woff2")}
